img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.logo {
    width: 100%;
}

.mainview {
    width: 100%;
}

.title {
    width: 100%;
}

.contents {
    width: 100%;
}

.last {
    width: 100%;
}

.back_button {
    width: 100%;
}
